:root {
  --turquoise: #3dd8fc;
  --pink: #f752e0;
  --yellow: #fff200;
  --light-grey: #dee2e6;
  --medium-grey: #adb5bd;
  --dark-grey: #343a40;
  --white: #fff;
  --black: #000;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--medium-grey);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--dark-grey);
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
}
.app {
  background-color: var(--light-grey);
  padding: 1rem;
  margin: 1rem;
  min-height: 95vh;
}
.header--container {
  height: 10rem;
  max-width: 100vw;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}
.header--logo {
  max-width: 9rem;
  margin-top: -1rem;
}
.header--search {
  margin: auto 0;
}
.header--search input {
  border: 2.5px solid var(--turquoise);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25rem;
}
.message--container {
  height: 5rem;
  max-width: 100vw;
  margin: 1rem auto;
  padding: 1rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.message--container p {
  font-size: 1.5rem;
}
.movie--container {
  max-width: 100vw;
  display: flex;
}
.movie--list,
.movie--selected {
  min-height: 60vh;
  padding: 1rem;
  background-color: var(--white);
  /* overflow-y: scroll; */
}
.movie--list {
  flex-basis: 50%;
  margin-right: 1rem;
}
.movie--selected {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
}
.movie--selected img {
  align-self: center;
}
.movie--item {
  display: flex;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 1rem;
}
.movie--item:hover,
.movie--item:active {
  background-color: var(--light-grey);
}
.movie--item img {
  max-width: 7.5rem;
}
.movie--item--info {
  padding: 2rem;
}
.movie--item--info h2 {
  letter-spacing: 0.15rem;
}
