:root {
  --light-grey: #dee2e6;
  --medium-grey: #adb5bd;
  --dark-grey: #343a40;
  --white: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--medium-grey);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--dark-grey);
}
input,
button,
textarea,
select {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
.app {
  background-color: var(--light-grey);
  padding: 1rem;
  margin: 1rem;
  min-height: 80vh;
}
.header--container {
  height: 7.5rem;
  max-width: 100vw;
  margin: auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
}
.header--logo {
  max-width: 7rem;
  margin-top: -1rem;
}
.header--search {
  margin: auto 0;
}
.header--search input {
  border: 2.5px solid var(--medium-grey);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.25rem;
  outline: none;
}
.message--container {
  height: 3.5rem;
  max-width: 100vw;
  margin: 0.5rem auto;
  padding: 1rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
.message--container p {
  font-size: 1.5rem;
}
.movie--container {
  max-width: 100vw;
  display: flex;
}
.movie--list,
.movie--selected {
  height: 60vh;
  padding: 1rem;
  background-color: var(--white);
  overflow-y: scroll;
}
.movie--list {
  flex-basis: 50%;
  margin-right: 0.5rem;
}
.movie--item {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  list-style-type: none;
  margin-bottom: 1rem;
}
.movie--item:hover,
.movie--item:active {
  background-color: var(--light-grey);
}
.movie--item img {
  max-width: 7.5rem;
  padding-right: 1rem;
}
.movie--item--info {
  padding: 1rem 0;
}
.movie--item--info h2 {
  letter-spacing: 0.15rem;
}
.movie--selected {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.movie--selected img {
  align-self: center;
  padding: 1rem 0;
}
.movie--selected h2,
.movie--selected p {
  padding: 0.25rem 0;
}
.movie--selected-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.movie--selected-close,
.movie--selected-like {
  cursor: pointer;
  background: transparent;
  border: none;
}
.movie--selected-close:hover,
.movie--selected-like:hover {
  transform: scale(1.25);
}
.movie--selected-title {
  display: flex;
  justify-content: space-between;
}
